   /*  CSS to style the whole html page*/
   
   body {
     margin: 0;
     padding: 0;
   }
   /*  CSS to style the map*/
   
   #map {
     position: absolute;
     top: 0;
     bottom: 0;
     right: 0;
     left: 0;
   }